
<!DOCTYPE html>
{% load static %}
<html lang="zxx">
<base href="/static/admins/admin_login/">
<head>
	<title>admin login page</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords"
		content="Desk Login form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<!-- //Meta tag Keywords -->

	<link href="//fonts.googleapis.com/css?family=Mukta:200,300,400,500,600,700,800" rel="stylesheet">

	<!--/Style-CSS -->
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
	<!--//Style-CSS -->
</head>
<script>
  {% for i in messages %}
   alert('{{ i }} ')
  {% endfor %}
  </script>
<body>
	<section class="w3l-forms-main-61">
		<div class="form-inner">
			<div class="wrapper">
				<div class="d-grid top-form">
					<div class="logo">


						<!-- if logo is image enable this   
									<a class="brand-logo" href="#index.html">
										<img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
									</a> -->
					</div>
				</div>
				<div class="form-bg-blur">
					<div class="form-61">
						<h4 class="form-head">Admin Login</h4>

						<form action="/admin_login/" method="Post" autocomplete="off">
							{% csrf_token %}
							<div class="">
								<p class="text-head">Email</p>
								<input type="email" name="email" class="input" required />
							</div>
							<div class="">
    <p class="text-head">Password</p>
    <input type="password" name="password" id="passwordField" class="input" required />
</div>
<label class="remember">
    <input type="checkbox" id="showPasswordCheckbox">
    <span class="checkmark"></span>Show password
</label>
							 <button type="submit" class="signinbutton btn">Get started</button>

<!--							<p class="signup">Forgot password?<a href="#forgot" class="signuplink">Click here</a></p>-->
						</form>
					<a href="/"><button class="signinbutton btn">back</button></a>
					</div>
				</div>
				<!-- 
				<div class="go-to-home text-center">
					<p>Want to Create account? <a class="btn" href="signup.html"> Signup </a></p>
				</div> -->
			</div>
			<div class="copyright text-center">
<!--				<div class="wrapper">-->
<!--					<p class="copy-footer-29">© 2020 Desk Login form. All rights reserved | Designed by <a-->
<!--							href="https://w3layouts.com">W3layouts</a></p>-->
<!--				</div>-->
			</div>
		</div>
	</section>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var showPasswordCheckbox = document.getElementById('showPasswordCheckbox');
        var passwordField = document.getElementById('passwordField');

        showPasswordCheckbox.addEventListener('change', function() {
            if (showPasswordCheckbox.checked) {
                passwordField.type = 'text';
            } else {
                passwordField.type = 'password';
            }
        });
    });
</script>

</body>

</html>