<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html lang="zxx">

<head>
	<base href="/static/brine_intake/bi_home/">
	<title>BRINE INTAKE</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Home Loan Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>

	<!-- Bootstrap Core CSS -->
	<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="css/style.css" rel='stylesheet' type='text/css' />
	<!-- pop up box -->
	<link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
	<!-- font-awesome icons -->
	<link href="css/fontawesome-all.min.css" rel="stylesheet">
	<!-- //Custom Theme files -->
	<!-- online fonts -->
	<!-- titles -->
	<link href="//fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet">
	<!-- body -->
	<link href="//fonts.googleapis.com/css?family=Poppins:400,500,600,700,800" rel="stylesheet">
</head>
<script>
  {% for i in messages %}
   alert('{{ i }} ')
  {% endfor %}
  </script>

<body>
	
	<!-- header -->
	<header>

		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light">
				<h1>
					<a class="navbar-brand text-capitalize" href="/bi_home/">
						BRINE INTAKE
					</a>
				</h1>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				    aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav text-center  ml-lg-auto">
						<li class="nav-item active  mr-3">
							<a class="nav-link" href="/bi_home/">HOME
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item  mr-3">
							<a class="nav-link" href="/he_reports/">HEA REPORT</a>
						</li>
						<li class="nav-item  mr-3">
							<a class="nav-link" href="/bi_analyze/">BI ANALYZE</a>
						</li>
<!--						<li class="nav-item dropdown mr-3">-->
<!--							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"-->
<!--							    aria-expanded="false">-->
<!--								Dropdown-->
<!--							</a>-->
<!--							<div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--								<a class="dropdown-item" href="typography.html">Typography</a>-->
<!--								<a class="dropdown-item" href="gallery.html">Gallery</a>-->
<!--							</div>-->
<!--						</li>-->
						<li class="nav-item">
							<a class="nav-link" href="/bi_reports/">BIA REPORT</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/brine_logout/">LOGOUT</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</header>
	<!-- //header -->
	<!-- banner -->
	<section class="banner">
		<div class="callbacks_container">
			<ul class="rslides" id="slider3">
				<li>
					<div class="slider-info bg1">
						<div class="banner-text container">
							<h4 class="movetxt text-left mb-3 agile-title text-capitalize">BRINE INTAKE</h4>
							<p class="text-white mb-3"></p>
							<a class="bt text-capitalize" href="/bi_home/" role="button"> read more
								<i class="fas fa-angle-double-right"></i>
							</a>
						</div>
					</div>
				</li>
				<li>
					<div class="slider-info bg2">
						<div class="banner-text container">
							<h4 class="movetxt text-left mb-3 agile-title text-capitalize">TYPE OF BRINES</h4>
							<p class="text-white mb-3"></p>
							<a class="bt text-capitalize" href="/bi_home/" role="button"> read more
								<i class="fas fa-angle-double-right"></i>
							</a>
						</div>
					</div>
				</li>
				<li>
					<div class="slider-info bg3">
						<div class="banner-text container">
							<h4 class="movetxt text-left mb-3 agile-title text-capitalize">FIND CO-EFFICIENT FOR BRINE INTAKE</h4>
							<p class="text-white mb-3"></p>
							<a class="bt text-capitalize" href="/bi_home/" role="button"> read more
								<i class="fas fa-angle-double-right"></i>
							</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</section>
	<!-- //banner -->
	<!-- Products -->
	<section class="services py-5">
		<div class="container py-md-4 mt-md-3"> 
			<h2 class="heading-agileinfo">Factors Influencing Heat Transfer <span>Several factors impact the efficiency and effectivenes</span></h2>
			<span class="w3-line black"></span>
			<div class="row inner_w3l_agile_grids-1 mt-md-5 pt-4">
				<div class="col-md-4 w3layouts_news_left_grid1">
					<div class="new_top">
						<i></i>
						<h3 class="mb-3 mt-3">Temperature Difference</h3>
						<p>The greater the temperature difference between the water body and the building, the more efficient the heat transfer. Effective heat exchange requires maintaining an optimal temperature differential to ensure consistent thermal performance.</p>
					</div>
				</div>
				<div class="col-md-4 w3layouts_news_left_grid2">
					<div class="new_top">
						<i ></i>
						<h3 class="mb-3 mt-3"> Pipe Material and Insulation</h3>
						<p>The type of material used for pipes and their insulation affects heat transfer efficiency. Materials with high thermal conductivity, like copper, enhance heat transfer, while proper insulation reduces heat loss or gain during transit.</p>
					</div>
				</div>
				<div class="col-md-4 w3layouts_news_left_grid3">
					<div class="new_top">
						<i></i>
						<h3 class="mb-3 mt-3">Flow Rate</h3>
						<p>The flow rate of water influences heat transfer efficiency. A higher flow rate generally improves heat transfer by increasing the amount of thermal energy carried from the water body to the building.<br><br><br><br></p>
					</div>
				</div>
			</div>
			
	</div>   


	</footer>
	<!---->
	<div class="copyright py-3">
		<div class="container">
<!--			<div class="copyrighttop">-->
<!--				<ul>-->
<!--					<li>-->
<!--						<h4>Follow us on:</h4>-->
<!--					</li>-->
<!--					<li>-->
<!--						<a class="facebook" href="#">-->
<!--							<i class="fab fa-facebook-f"></i>-->
<!--						</a>-->
<!--					</li>-->
<!--					<li>-->
<!--						<a class="facebook" href="#">-->
<!--							<i class="fab fa-twitter"></i>-->
<!--						</a>-->
<!--					</li>-->
<!--					<li>-->
<!--						<a class="facebook" href="#">-->
<!--							<i class="fab fa-google-plus-g"></i>-->
<!--						</a>-->
<!--					</li>-->
<!--					<li>-->
<!--						<a class="facebook" href="#">-->
<!--							<i class="fab fa-pinterest-p"></i>-->
<!--						</a>-->
<!--					</li>-->
<!--				</ul>-->
<!--			</div>-->
			<div class="copyrightbottom">
				<p>© 2024 BRINE INTAKE.
				</p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- Modal -->
<!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">-->
<!--  <div class="modal-dialog modal-dialog-centered" role="document">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h4 class="modal-title">Home Loan</h4>-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--		 <div class="agileits-w3layouts-info">-->
<!--			<img src="images/g6.jpg" class="img-fluid" alt="" />-->
<!--			<p>Duis venenatis, turpis eu bibendum porttitor, sapien quam ultricies tellus, ac rhoncus risus odio eget nunc. Pellentesque ac fermentum diam. Integer eu facilisis nunc, a iaculis felis. Pellentesque pellentesque tempor enim, in dapibus turpis porttitor quis. </p>-->
<!--		</div>-->
<!--	</div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--        <button type="button" class="btn btn-primary">Save changes</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!-- //Modal -->
<!-- js-->
	<script src="js/jquery-2.2.3.min.js"></script>
<!-- js-->
<!-- Banner Responsiveslides -->
	<script src="js/responsiveslides.min.js"></script>
	<script>
		// You can also use "$(window).load(function() {"
		$(function () {
			// Slideshow 4
			$("#slider3").responsiveSlides({
				auto: true,
				pager: true,
				nav: false,
				speed: 500,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});

		});
	</script>
<!-- // Banner Responsiveslides -->
<!-- stats -->
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/jquery.countup.js"></script>
		<script>
			$('.counter').countUp();
		</script>
<!-- //stats -->
<!--pop-up-box -->
	<script src="js/jquery.magnific-popup.js"></script>
	<script>
		$(document).ready(function () {
			$('.popup-with-zoom-anim').magnificPopup({
				type: 'inline',
				fixedContentPos: false,
				fixedBgPos: true,
				overflowY: 'auto',
				closeBtnInside: true,
				preloader: false,
				midClick: true,
				removalDelay: 300,
				mainClass: 'my-mfp-zoom-in'
			});
		});
	</script>
	<!-- //pop-up-box -->
	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.js ">
	</script>
	<!-- //Bootstrap Core JavaScript -->
</body>
</html>